@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.body {
    font-style: 'Rubik' , sans-serif;
}

.bg-grey {
    background-color: whitesmoke;
}

.h1 {
    font-style: oblique;
}

.about {
    background-color: whitesmoke;
}

.h3 {
    font-size: 80px;
    margin-bottom: 50%;
}

.last-word {
    font-size: larger;
}

.form {
    text-align: justify;
}